body {
    background-image: url("../images/ep_naturalwhite.png");
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    position: relative;
    min-height: 960px;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: Georgia, Times, 'Times New Roman', serif;
}

/* styling of the navigation bar */

.nav-container {
    width: 960px;
    margin: 0 auto;
}

header {
    background-color: #fff;
}

header::after {
    content: "";
    display: table;
    clear: both;
}

.logo {
    font-family: Georgia, Times, 'Times New Roman', serif;
    float: left;
    background-color: #4aaaa5;
    padding: 20px 20px;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
}

nav {
    float: right;
    height: 100%;
}

nav li {
    display: inline-block;
    margin-left: 40px;
    padding: 25px;
}

nav li:hover {
    background-color: #4aaaa5;
}


nav a {
    text-decoration: none;
    color: #a9a9a9;
}

nav a:hover {
    color: white;
}

/* next is the styling of the main content */

.container {
    width: 960px;
    background-color: #fff;
    margin: 50px auto;
    padding-bottom: 100px;
    flex: 1 0 auto;
}

.about-header {
    display: block;
    font-size: 25px;
    color: #4aaaa5;
    padding: 25px 15px;
    font-weight: bolder;
}

hr {
    width: 930px;
    border-color: #ccc;
    border-width: 1px;
    border-style: solid;
}

.profile-pic {
    width: 200px;
    height: 200px;
    padding: 10px 15px;
    float: left;
}

p {
    line-height: 2;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 15px;
    margin-left: 15px;
}

/* Contact page css */

.left-div {
    width: 60%;
    float: left;
    background-color: white;
}

.contact-container {
   background-image: url("../images/ep_naturalwhite.png");
}

.contact hr {
    width: 95%;
}

form {
    margin: 25px 20px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 20px;
}

form label {
    display: block;
    margin: 15px 0;
    color: #aaa;
}

form input {
    width: 100%;
    height: 35px;
    font-size: 20px;
}

form textarea {
    width: 100%;
    height: 200px;
    font-size: 17px;
    resize: none;
}

#submit {
    width: 100px;
    margin-top: 100px;
    background-color: #4aaaa5;
    color: white;
    border: none;
}

.right-div {
    width: 30%;
    float: right;
    display: inline;
    background-color: white;
}

.connect h2 {
    color: #4aaaa5;
    font-size: 25px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    padding: 25px;
}

.connect hr {
    width: 90%;
}

.social ul {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
}

.social a {
    text-decoration: none;
}

.social img {
    width: 50px;
    height: 50px;
    display: inline-block;

}

/* portfolio page styling */

.row {
    margin: 8px auto;
    display: block;
    position: relative;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    padding: 8px;
    width: 33.333%;
    float: left;
}

.content {
    text-align: center;
}

.content h2 {
    width: 225px;
    background-color: #4aaaa5;
    padding: 15px 0;
    position: relative;
    margin: 0 auto;
    bottom: 65px;
    z-index: 1;
    color: white;
}
/* getting footer to work */

#sticky {
    width: 100%;
    background: #696969;
    margin: 0 auto;
    text-align: center;
    height: 50px;
    padding-top: 15px;
    position: fixed;
    bottom: 0;
    z-index: 2;
}

#sticky p {
    color: white;
}

@media screen and (max-width: 980px) {

    .left-div{
        margin-left: 15px;
    }

    .right-div {
        margin-right: 15px;
    }

    .container {
        margin-bottom: 150px;
    }
}

@media screen and (max-width: 768px) {
    .nav-container {
        width: 650px;
    }

    .container {
        width: 650px;
    }

    hr {
        width: 620px;
        border-color: #ccc;
        border-width: 1px;
        border-style: solid;
    }

    .left-div {
        width: 100%;
        display: block;
        background-color: white;
        margin-bottom: 35px;
        margin-left: 0;
    }
    
    .contact-container {
        width: 600px;
    }

    .right-div {
        width: 100%;
        clear: both;
        display: block;
        margin-right: 0;
    }

    .social ul {
        text-align: left;
        margin-top: 35px;
        margin-bottom: 35px;
        margin-left: 20px;
    }
    

}

@media screen and (max-width: 640px) {
    header {
        position: static;
    }

    .nav-container {
         width: 640px;
    }

    .logo {
        display: block;
        width: 640px;
        text-align: center;
        padding-left: 0;
    }

    nav {
        width: 640px;
        float: none;
        text-align: center;
        height: 100%;
    }

    nav ul {
        clear: both;
        display: block;
    }
    
    nav li {
        display: inline-block;
        margin-left: 0;
        padding: 25px 0;
        width: 210px;
    }
    
    nav li:hover {
        background-color: #4aaaa5;
    }
    
    
    nav a {
        text-decoration: none;
        color: #a9a9a9;
    }
    
    nav a:hover {
        color: white;
    }

    .container {
        width: 550px;
    }

    hr {
        width: 520px;
        border-color: #ccc;
        border-width: 1px;
        border-style: solid;
    }

    .row {
        margin: 8px auto;
        display: block;
        position: relative;
    }
    
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    
    .column {
        padding: 8px;
        width: 100%;
        float: none;
    }
    
    .content {
        text-align: center;
    }
    
    .content h2 {
        width: 400px;
        background-color: #4aaaa5;
        padding: 15px 0;
        position: relative;
        margin: 0 auto;
        bottom: 65px;
        z-index: 1;
        color: white;
    }

    .port-img {
        width: 400px;
        height: 400px;
    }

    .contact-container {
        position: relative;
    }

    .left-div {

    }
}